/*.log
/*-init.clj
front-end/resources/public/js/compiled
front-end/resources/public/prod/js/compiled
front-end/resources/public/prod/sw.js
front-end/dev-resources
front-end/node_modules
out
*.swp
.nrepl-port
.lein-repl-history
.lein-failures
.rebel_readline_history
.cljs_nashorn_repl
nashorn_code_cache
target
figwheel-server.log
